* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* LOGO */
header {
    background-color: white;
    height: 150px;
}
.title { 
    font-size: 80;
}
body {
    background-color: rgb(246, 248, 249);;
}