* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: rgb(246, 248, 249);
}
/* LOGO */
header {
    background-color: white;
    height: 70px;
}
.title { 
    font-size: 35px;
    display: inline-block;
}
img {
    height: 50px;
    margin-bottom: 0;
    margin-left: 20px;
}
/* MAIN */
main {
    background-color: white;
    width: 900px;
    margin: auto
}
/* Button */
.space-buttons {
    height: 50px;
    margin-left:50px;
    margin-top: 50px;
}
.button {
    border-radius:5px;
    padding:5px 8px;
    font-size:12px;
    margin-top: 13px;
}
.but1 {
    color:white;
    background-color: #45B1E8;
    border: 1px solid #45B1E8;
}
.but2 {
    color: rgb(200, 206, 211);
    background-color: white;
    border: 1px solid rgb(200, 206, 211);
}